<p>
  <%=h @post.title %>
</p>

<p>
  <%= @post.content %>
</p>


<% if logined? %>
  <%= link_to 'Edit', edit_post_path(:id => @post, :post_type => @post.post_type) %> |
<% end %>

<%= link_to 'Back', posts_path %>
