<div class="post_title">
  <%=h @post.title %>
</div>

<hr />

<div id="post_content">
  <%= @post.content %>
</div>

<hr />

<% if logined? %>
  <%= link_to 'Edit', edit_post_path(:id => @post, :post_type => @post.post_type) %> |
<% end %>

<%= link_to 'Back', posts_path %>
